svg#vizcontainer {
    border: 1px solid maroon;
    /* margin: 1em; */
    /* margin-left: 5em; */
    /* width: 600px; */
    /* height: 400px; */
}

div.fortable {
    max-height:200px;
    overflow:scroll;
}

.chart-line {
  fill: none;
  stroke: #1b6663;
  stroke-width: 2px;
}


.axis text {
  font-size: 13px;
  fill: #6b6b6b;
}

.axis-title {
  font-size: 13px;
  fill: #888;
}

.x-axis .domain {
  stroke: #8693a0;
}

.y-axis .domain {
  display: none;
}

/* svg#vizheatmap { */
/*     /1* border: 1px solid grey; *1/ */
/* } */

svg {
/* div.column { */
    /* NOTE didnt make any difference */
    /* display: block; */
    /* margin: auto; */
    background-color: #e8e3df;
    border-radius: 8px;
    padding: 5px;
    /* margin: 20px; */
}

.navbar {
  overflow: hidden;
  /* background-color: #212324; */
  background-color: #211e1a;
  position: fixed;
  top: 0;
  width: 100%;
  /* margin-bottom: 30px; */
  /* margin: 30px; */
  color: white;
  /* padding: 10px; */
}

div#dummy {
    margin-bottom: 100px;
}

div.footer {
    overflow: hidden;
    position: fixed;
    /* top: 100%; */
    bottom: 0;
    width: 100%;
    background-color: #211e1a;
    /* float: right; */
    height: 24px;
    text-align: right;
    padding-right: 10px;
    color: #626e62;

}


div.container {
    margin-top: 70px;
}

body {
    font-family: "Roboto Mono";
}

p.navbartext {
    margin: 10px;
    /* overflow:visible; */
}

div.navbar {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}


p.viztitle {
    font-size: 24px;
    height: 36px;
    /* display:inline-block; */
    color: #d5e1e6;
    margin-right: 30px;

}

p.name {
    color: #6f787a;
}

div#heatmap_scatter {
    background-color: #e8e3df;
    border-radius: 8px;
    /* float: left; */
    /* display: inline-block; */
}

div#tooltip {
    /* text-align:right; */
    list-style-type:none;
    padding-left: 30px;
    font-size: 14px;
    line-height: 1;
    /* border-radius: 8px; */
    /* border-top-right-radius: 0; */
    /* border-top-left-radius: 0; */
    /* background-color: #1b1c17; */
    /* color: white; */
}

svg#vizscatterzoneplot {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
