svg#vizcontainer {
    border: 1px solid maroon;
    /* margin: 1em; */
    /* margin-left: 5em; */
    /* width: 600px; */
    /* height: 400px; */
}



.chart-line {
  fill: none;
  stroke: #517390;
  stroke-width: 2px;
}


.axis text {
  font-size: 13px;
  fill: #6b6b6b;
}
.axis-title {
  font-size: 13px;
  fill: #888;
}
.x-axis .domain {
  stroke: #8693a0;
}
.y-axis .domain {
  display: none;
}

svg#vizheatmap {
    border: 1px solid grey;
};
